<br><br><br><br>
<div class="row">
  <div class="col-xs-12">
    <img src="{{viewRecipe.imagePath}}" alt="" class="img-responsive img-thumbnail">
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><h1>{{viewRecipe.name}}</h1></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button  class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><p class="h4">{{viewRecipe.description}}</p></div>
</div>
<div class="row">
  <div class="col-xs-12"><p class="h4">Ingredients</p></div>
</div>
